* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body, html {
    height: 100%;
}

.wrap-all {
    height: 3000px;
    width: 95%;
    margin: 0 auto;
}
.main-header {
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
}

.logo1{
    margin-top: 15px;
    margin-left: 50px;
    height: 100%;
}
.logo2 {
    margin-top: 15px;
}

.nav-container {
    display: flex;
    height: 100px;
    width: 100%;
    /* background: sandybrown; */
    flex-direction: column;
}

.sub-navi {
    /* background: wheat; */
    height: 50%;
    display: flex;
    justify-content: flex-end;
}
    .sub-navi > ul {
        display: flex;
        align-items: center;
    }

    .sub-navi li {
        margin-right: 30px;
        text-transform: uppercase;
        font-size: 15px;
        color: midnightblue;
    }
    .language {
        width: 60px;
        height: 30px;
        margin: 10px 50px 10px 10px;
    }

    .main-navi {
      /* background: darkcyan; */
      height: 50%;  
      display: flex;
      justify-content: center;
    }
        .main-navi > ul {
            display: flex;
            align-items: center;
        }

        .main-navi li {
            text-transform: uppercase;
            margin: 0px 40px 20px 0px;
            font-size: 17px;
            text-align: center;
            color: midnightblue;
            margin-left: 40px;
        }

        /* 선생님 물어보기 */
        .main-navi > ul:nth-child(2) { 
            /* margin-left: auto; */
            float: left;
            
        }

        .side-bar {
            width: 90px;
            height: 100%;
            position: fixed;
            /* background:lemonchiffon; */
            top: 100px;
            left: 0px;
            list-style: none;
            text-align: center;    
            
        }

        aside {
            /* border: 1px solid yellowgreen; */
        }

        .side-bar ul {
            /* border: 1px solid blue; */
        } 

        .side-bar ul > li {
            margin-top: 50px;
            width: 100;
            /* border: 1px solid purple; */
        }
        
    .bx-wrapper{
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }
   
        p > a { 
            font-weight: lighter;
            color: white; 
            background: navy;
            display: block;
            height: 40px;
            line-height: 40px;
            width: 100%;
    

            }

        a {
            color: navy;
            width: 45px;
            height: 45px;
        }

        #a {
            width: 25px;
            height: 25px;
            margin-top: 20px;
        }
        #b {
            width: 25px;
            height: 25px;
            margin-top: 10px;
        }
        #c {
            width: 25px;
            height: 25px;
            margin-top: 10px;
        }
        #d {
            width: 25px;
            height: 25px;
            margin-top: 10px;
        }
        #e {
            width: 25px;
            height: 25px;
            margin-top: 10px;
        }

.slide {
    width: 95%;
    height: inherit;
    /* background: lavender; */
    margin: 0 auto;

}
.main-slide {
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    background: lavender;
    position: relative;
}
h2 {
    margin-top: 110px;
    text-align: center;
    /* background: darkmagenta; */
}
.slide-wrap{
    width: 100%; 
    overflow: hidden;
}

.mini-slide {
    margin-top: 60px;
    display: flex;
}


.mini-slide > li {
    margin-right: 15px;
}

footer {
    width: 100%;
    height: 50px;
    background: salmon;
    text-align: center;
    
}


   
    


  


